:root {
    scroll-behavior: smooth;
    /* Add Color */
    --white: #ffffff;
    --black: #000000;
    --grey: #9d9d9d;
    --light-grey: #d6d6d6;
    --red: #8D2323;
    --danger: #8D2323;
    --light-red: rgba(141,35,35,0.1);
    --bg-danger: #DF3232;
    --bg-warning: #F2C42E;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
::selection {
    color: var(--white);
    background: var(--grey);
}
.bg-danger {
    background: var(--bg-danger) !important;
    color: var(--white);
    border: 0;
}
.bg-warning {
    background: var(--bg-warning) !important;
    color: var(--white);
    border: 0;
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.login {
    background: rgba(141, 35, 35, 0.05);
}
.login .form-label {
    font-size: 14px;
}
.login .btn-primary {
    font-size: 16px;
    background-color: var(--blue) !important;
}
.login .btn {
    background: var(--red);
    color: var(--white);
    font-size: 16px;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
table tr,
table td {
    color: var(--black);
}
td {
    padding: 12px;
}
table td p {
    margin: 0;
}

@media (max-width: 768px) {
    .app-header .navbar {
        min-height: auto;
    }
    .header-profile {
        width: 45px;
        height: 45px;
    }
    .dataTables_length,
    .dataTables_info {
        padding-bottom: 6px;
    }
}

.menu-section-icon {
    font-size: 84px;
    color: var(--red);
}

.r-separator .form-group {
    border-bottom: 1px solid #ebf1f6;
}
@media (max-width: 768px) {
    .input-field {
        border-left: 0 !important;
    }
}

#img_preview {
    width: 40%;
}
@media (max-width: 768px) {
    #img_preview {
        width: 100%;
    }
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal-header {
    background-color: var(--red);
    padding: 24px !important;
}
.modal-header i {
    color: var(--white);
    font-size: 24px;
    line-height: 14px;
}
.modal-header h6 {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
}
.modal-body p {
    color: var(--black);
}
.modal-body p, .modal-footer button {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.modal-footer button {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.modal-footer button,
.modal-footer button:hover {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 25px;
    border: 0;
    border-radius: 10px;
}
.modal-footer button:nth-child(1),
.modal-footer button:hover:nth-child(1) {
    background-color: #E5E5E5;
    color: #161616;
    padding: 10px 25px;
    border: 1px;
    border-radius: 10px;
}